# This is Git's per-user configuration file.
[core]
        editor = vim
[alias]
        st = status
        ci = commit
        co = checkout
        gl = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        ps = pull --stat
        logme = log --author='Pedro'
        ds = diff --staged
        wbc = branch -r --contains
        ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
        diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
        clean-branches = !git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D
        most-changes = git log --format=format: --name-only --since="1 year ago" | sort | uniq -c | sort -nr | head -20
        show-contributors = git shortlog -sn --no-merges
        show-bug-density = git log -i -E --grep="fix|bug|broken" --name-only --format='' | sort | uniq -c | sort -nr | head -20
        show-commit-count = git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c
        show-firefighting = git log --oneline --since="1 year ago" | grep -iE 'revert|hotfix|emergency|rollback'
[user]
# Please adapt and uncomment the following lines:
        name = Pedro Teixeira
        email = pedro.ap.teixeira@gmail.com
[includeIf "gitdir:~/projects/nap/"]
        path = ~/.gitconfig-nap
[includeIf "gitdir:~/projects/style-council"]
        path = ~/.gitconfig-nap
[includeIf "gitdir:~/projects/yos"]
        path = ~/.gitconfig-nap
[merge]
        tool = opendiff
